.list {
    list-style: none;
    float: left;
    width: 20%;
    padding-bottom : 50px;
}

.blog {
    padding : 30px;
    text-align: center;
    background-color: orange;
    font-size: 60px;
    margin: 0 0 50px 0;
    color: white;
}

.title {
    font-size: 20px;
    text-transform: capitalize;
}